<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youo.bookmanage.system.mapper.PartMapper">
    <select id="findRoleAndCount" resultType="Part">
        SELECT p.pid,
        p.NAME,
        IFNULL(( SELECT count(*) FROM USER WHERE USER.portid = p.pid GROUP BY user.portid ),0) AS usercount
        FROM part p;
    </select>

</mapper>
